#father{
    width: auto;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: azure;
}

#bk{
    width: 400px;
}

#head{
    width: 100px;
    height: 100px;
    align-self: flex-end;
    border: 1px white solid;
    transform: translateY(-40px) translateX(-40px);
}

#line{
    border-bottom: grey solid 1px;
}

.small_head{
    width: 50px;
    height: 50px;
    grid-area: head;
    margin: 20px 10px 10px 10px;
}

.content{
    width: 120px;
    height: 120px;
    margin: 5px;
}

.images{
    grid-area: image;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.text{
    grid-area: text;
}

.share{
    grid-area: share;
}

.date{
    font-size: 12px;
    font-style: italic;
    margin: auto;
    grid-area: date;
}
.card{
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-template-areas: 
        "head blank1"
        "head date"
        "head text"
        "blank2 image"
        "blank2 share";
}